<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.smartremoteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name="com.game.smartremoteapp.base.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/app_mm_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/MyAppTheme">
        <!-- 提高app支持最大屏幕纵横比 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1">
        </meta-data>
        <activity
            android:name=".activity.home.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <!--
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        -->

        <!--=============================友盟相关=============================================-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0550308f4a9d33ac0000af">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d318f4fe099226d45d73978c710c1bb4">
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-data>

        <!--=============================友盟相关=============================================-->

        <activity android:name=".activity.home.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/jjLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.ctrl.view.CtrlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:resizeableActivity ="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.InformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.GameCurrencyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.RecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.LnvitationCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.ChangNicknameAvtivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.TakePhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/activitystyle" />
        <activity
            android:name=".activity.wechat.WeChatPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".service.SmartRemoteService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.home.RecordGameActivty"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.RecordGameTwoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.ConsignmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.NewAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.home.CtrlTextActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.home.SelectRechargeTypeActiivty"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.VideoPlayBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.BetRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- ###############    微信回调类    #############  -->
        <!-- ###############    微信回调类    #############  -->




        <!--米大师支付接入需要-->

        <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 END -->

        <!-- TODO SDK接入 QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106514672" />
                <!--tencent游戏的手Q appid-->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO SDK接入 QQ接入配置 END -->


        <!-- TODO SDK接入 微信接入配置 START -->
        <!-- 注意：此处应改为 游戏包名.wxapi.WXEntryActivity -->
        <!--<activity-->
            <!--android:name="com.tencent.tmgp.jjzww.wxapi.WXEntryActivity"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:exported="true"-->
            <!--android:label="WXEntryActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:taskAffinity="com.tencent.tmgp.jjzww.diff">-->
            <!--<intent-filter>        &lt;!&ndash; 注意：此处应改为 游戏包名.diff &ndash;&gt;-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--&lt;!&ndash; 注意：此处应改为 游戏的微信appid &ndash;&gt;-->
                <!--<data android:scheme="wxe7e60e79f7e7a25e" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.game.smartremoteapp.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxd5d97cb1e49b45df"/>
            </intent-filter>

        </activity>


        <!-- TODO SDK接入 微信接入配置 END -->

        <!-- TODO GAME SDK接入YSDK实名制接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.realName.impl.RegisterRealNameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- TODO GAME SDK接入YSDK实名制接入配置 END -->


        <!--米大师支付接入配置组件——Start-->
        <!-- TODO GAME SDK Midas接入配置 START -->
        <activity
            android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tencent.midas.wx.APMidasWXPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true" />

        <activity
            android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet100703379"/>
                <!-- TODO GAME 这里为米大师的默认配置，游戏不要修改 -->
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- TODO GAME SDK Midas接入配置 END -->
        <!--米大师支付接入配置组件——End-->

        <receiver android:name="com.flamigo.jsdk.FlamigoReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--配置hx_ysdk组件——Start-->
        <activity android:name="com.robust.sdk.ui.CommonActivity"
            android:configChanges="orientation|keyboardHidden|navigation" />

        <meta-data
            android:name="MANIFEST_META_CHID"
            android:value="tencent" />

        <meta-data
            android:name="MANIFEST_META_CID"
            android:value="d701017f820d4c94aee7d3bd3ca96edb" />
        <!-- 正式环境cid= 6f456783a0fe44e28771c08ab63a52f7-->
        <!-- 测试环境cid= d701017f820d4c94aee7d3bd3ca96edb-->
        <!--配置hx_ysdk组件——End-->

        <activity
            android:name=".activity.home.ServiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".activity.home.MyCtachRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name=".activity.home.NewsWebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.home.MyLogisticsOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.home.ExChangeShopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.JoinEarnActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.home.LoginCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.home.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <!-- 支付宝 -->
        <!--<activity android:name="com.game.smartremoteapp.activity.home.AlipayActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:launchMode="standard"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar"/>-->
        <!--&lt;!&ndash; alipay sdk begin &ndash;&gt;-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity android:name=".activity.home.NavigationPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.AccountInformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.AgencyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.DrawMoneyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.MyJoinCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.SettingMobileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.AccountDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.FindBackPassActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.ctrl.view.LiveActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.RoomPlayRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
</manifest>