<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.smartremoteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />


    <!--
    android:icon="@mipmap/icon_app_numshroom"  蘑菇抓娃娃
    android:icon="@mipmap/app_mm_icon"  汤姆抓娃娃
    -->
    <application
        android:name="com.game.smartremoteapp.base.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/app_mm_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/MyAppTheme">
        <!-- 提高app支持最大屏幕纵横比 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1">
        </meta-data>
        <activity
            android:name=".activity.home.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme">
        </activity>

        <!--=============================友盟相关=============================================-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0550308f4a9d33ac0000af">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d318f4fe099226d45d73978c710c1bb4">
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-data>

        <!--=============================友盟相关=============================================-->
        <activity android:name=".activity.home.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/TomLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ctrl.view.CtrlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:resizeableActivity ="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.home.InformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.GameCurrencyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.RecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.LnvitationCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.ChangNicknameAvtivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.TakePhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/activitystyle" />

        <service
            android:name=".service.SmartRemoteService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".service.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.home.RecordGameActivty"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.RecordGameTwoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.ConsignmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.NewAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.CtrlTextActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.home.VideoPlayBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.BetRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106675519" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name="com.game.smartremoteapp.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxd5d97cb1e49b45df"/>
            </intent-filter>

        </activity>


        <activity
            android:name=".activity.home.ServiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.MyCtachRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.home.NewsWebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.MyLogisticsOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.ExChangeShopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.JoinEarnActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.LoginCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity android:name=".activity.home.NavigationPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.home.AccountInformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.AgencyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.DrawMoneyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.MyJoinCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.SettingMobileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.AccountDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.home.FindBackPassActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.RoomPlayRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.home.PayNowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ctrl.view.PushCoinActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity ="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".activity.home.CoinRecordActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".activity.home.GuessPageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".activity.home.RechargeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".activity.home.AccountWalletActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/BlackBarAppTheme"/>

        <activity android:name=".activity.home.CardDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/BlackBarAppTheme" />


        <activity android:name=".activity.home.IntegralActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".activity.home.IntegralTaskActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />

       <!--  蘑菇抓娃娃 -->
        <activity
            android:name=".activity.mushroom.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme">
        </activity>
        <activity
            android:name=".activity.mushroom.Splash1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme">
            </activity>
            <activity
                android:name=".activity.mushroom.LoginActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/mainTheme">
            </activity>
            <activity
                android:name=".activity.mushroom.RegisterOneActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/mainTheme">
            </activity>
        <!-- 现在支付 -->
        <activity
            android:name="com.ipaynow.plugin.presenter.PayMethodActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 微信插件版支付 -->
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechatpg.activity.WXPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.ipaynow.plugin.inner_plugin.wechatpg.activity.WXPayActivity" />

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
</manifest>